<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <style>{{ style | safe }}</style>
</head>

<body>
  <header>
    <ul class="color-guide">
      <li>
        <div class="color-box" style="background-color: var(--color-speaker1);">
        </div>
        <span>Speaker 1</span>
      </li>
      <li>
        <div class="color-box" style="background-color: var(--color-speaker2);">
        </div>
        <span>Speaker 2</span>
      </li>
      <li>
        <div class="color-box" style="background-color: var(--color-question);">
        </div>
        <span>Question</span>
      </li>
      <li>
        <div class="color-box" style="background-color: var(--color-action);">
        </div>
        <span>Run/Action</span>
      </li>
      <li>
        <div class="color-box" style="background-color: var(--color-narrative);">
        </div>
        <span>Claim/Narrative</span>
      </li>
    </ul>
  </header>
  <main>
    <ol class="timeline">
      {% for row in rows %}
      <li class="{% if row[0].minute == 0 %}separator{% endif %}">
        {% if row[0].minute == 0 %}
        <time>{{ row[0].strftime('%H:%M') }}</time>
        {% endif %}
        {% if row[1] %}
        <span class="speaker-{{ row[1] }}">
          {{ row[1] }}
        </span>
        {% endif %}
        {% if row[2] %}
        <span class="type {% if row[2] == 'Fråga' %}question
          {% elif row[2] == 'Exekverar' %}run
          {% elif row[2] == 'Påstående' %}claim
          {% elif row[2] == 'Error' %}error
          {% endif %}">{{ row[2] }}</span>
        {% endif %}
        <div class="content">
          <time>{{ row[0].strftime('%H:%M') }}</time>
          <p class="expression">{{ row[3] }}</p>
          <p class="action">{{ row[4] }}</p>
          <p class="interpretation">{{ row[5] }}</p>
          <p class="narrative">{{ row[6] }}</p>
        </div>
      </li>
      {% endfor %}
    </ol>
  </main>
</body>

</html>