<!DOCTYPE html>
<html lang="sv">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <style>{{ style | safe }}</style>
</head>

<body>
  <header>
    <h2>Lathund</h2>
    <ul class="color-guide">
      <li>
        <div class="color-box" style="background-color: var(--color-speaker1);">
        </div>
        <span>Talare 1</span>
      </li>
      <li>
        <div class="color-box" style="background-color: var(--color-speaker2);">
        </div>
        <span>Talare 2</span>
      </li>
      <li>
        <div class="color-box" style="background-color: var(--color-question);">
        </div>
        <span>Fråga</span>
      </li>
      <li>
        <div class="color-box" style="background-color: var(--color-error);">
        </div>
        <span>Error</span>
      </li>
      <li>
        <div class="color-box" style="background-color: var(--color-action);">
        </div>
        <span>Exekvera / Handling</span>
      </li>
      <li>
        <div class="color-box" style="background-color: var(--color-narrative);">
        </div>
        <span>Påstående / Narrativ</span>
      </li>
    </ul>
  </header>
  <aside>
    <h2>Statistik</h2>
    <ul>
      <li>Fil skapad: {{ date }}</li>
      <li>Fråga: {{ types['Fråga'] if 'Fråga' in types else 0 }}</li>
      {% for speaker, count in speakers[:2] %}
          <li>Talare: {{ speaker }}, antal: {{ count }}</li>
      {% endfor %}
    </ul>
  </aside>
  <main>
    <ol class="timeline">
      {% for row in rows %}
        <li class="{% if row[2] == 'Separator' %}separator{% endif %}">
        {% if row[2] == 'Separator' %}
        <time>{{ row[0].strftime('%M:%S') }}</time>
        {% endif %}
        {% if row[1] %}
        <span class="speaker speaker-{{ row[1] }}">
          {{ row[1] }}
        </span>
        {% endif %}
        {% if row[2] and row[2] != "Separator" %}
        <span class="type {% if row[2]|lower == 'fråga' %}question
          {% elif row[2] == 'Exekverar' %}run
          {% elif row[2] == 'Påstående' %}claim
          {% elif row[2] == 'Error' %}error
          {% endif %}">{{ row[2] }}</span>
        {% endif %}
        {% if row[2] != 'Separator' %}
        <div class="content">
          <time>{{ row[0].strftime('%M:%S') }}</time>
          {% if row[1] %}
          <p>
            Talare: {{ row[1] }}
          </p>
          {% endif %}
          <p class="expression">{{ row[3] }}</p>
          <p class="action">{{ row[4] }}</p>
          <p class="interpretation">{{ row[5] }}</p>
          <p class="narrative">{{ row[6] }}</p>
        </div>
        {% endif %}
      </li>
      {% endfor %}
    </ol>
  </main>
</body>

</html>